<!-- <div >
    <button type="button" [routerLink]="['/pozos/form']" class="btn btn-success">Adicionar pozo</button>


</div>

<div *ngIf="pozos?.length==0" class="alert alert-info">
    No hay registros en la base de datos!
</div>
<table class="table table-bordered table-hover  table-responsive"  *ngIf="pozos?.length>0">

    <thead>
        <tr>
                <th>PozoID</th>
            <th>NombrePozo</th>
            <th>Campana</th>
            <th>FechaInicio</th>
            <th>FechaFin</th>
            <th>editar</th>
            <th>eliminar</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let pozo of pozos">
            <td>{{pozo.pozoId}}</td>
            <td>{{pozo.nombrePozo}}</td>
            <td>{{pozo.campana}}</td>
            <td>{{pozo.fechaInicio}}</td>
            <td>{{pozo.fechaFin}}</td>
            <td>    <button type="button" [routerLink]="['/pozos/form',pozo.id]" class="btn btn-primary">editar</button>
            </td>
            <td>    <button type="button" (click)="delete(pozo)" name="eliminar" class="btn btn-danger">eliminar</button>
            </td>

        </tr>
    
    
    </tbody>
      </table> -->
<!-- <p>Order Page</p>
<div>
    <button [routerLink]="['/add-order']" class="btn btn-primary">Add Order</button>

    <p *ngIf="!(orders && orders.length)" >
       There's not BD registries.
</p>
    <table class="table" *ngIf="orders && orders.length" >
    <thead>
        <tr>
            <th>OrderId</th>
            <th>NoOrder</th>
            <th>DateOrder</th>
           <th>FoodId</th>
            <th>Amount</th>
            <th>ClientId</th>
            <th>Client</th>

            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
        <td>{{order.orderId}}</td>
        <td>{{order.noOrder}}</td>
        <td>{{order.dateOrder | date:'dd-MM-yyyy'}}</td>
       <td>{{order.foodId}}</td>
        <td>{{order.amount}}</td>


        <td>
            <button class="btn btn-primary" [routerLink]='["/edit-order/"+ order.orderId]'>Edit</button>
            <button class="btn btn-danger" (click)="delete(order)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
</div> -->
<h2 style="display: flex; justify-content: center; align-items: center">{{title}} </h2>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
    
      <!--  Columna NombrePozo-->
      <ng-container matColumnDef="NombrePozo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          NombrePozo</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.nombrePozo }} </mat-cell>
      </ng-container>

      
      <!--  Columna Campana-->
      <ng-container matColumnDef="Campana">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            Campana</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.campana}} </mat-cell>
      </ng-container>

  <!--  Columna Campana-->
  <ng-container matColumnDef="Ubicacion">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Ubicacion</mat-header-cell
    >
    <mat-cell *matCellDef="let row"> {{ row.ubicacion}} </mat-cell>
  </ng-container>


      <!--  Columna FechaInicio-->
      <ng-container matColumnDef="FechaInicio">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            FechaInicio</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.fechaInicio|date }} </mat-cell>
      </ng-container>

      <!--  Columna FechaFin-->
      <ng-container matColumnDef="FechaFin">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            FechaFin</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.fechaFin |date}} </mat-cell>
  
      </ng-container>
          <!--  Columna Editar-->
  
      <ng-container matColumnDef="Editar">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
            Editar</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" [routerLink]="['/pozos/form',row.pozoId]" focusable="false" >
            <mat-icon>edit</mat-icon> Editar
          </button>
        </mat-cell>
  
  
      </ng-container>

    <!--  Columna Editar-->

<ng-container matColumnDef="Borrar">
  <mat-header-cell *matHeaderCellDef mat-sort-header>
  Borrar</mat-header-cell
  >
  <mat-cell *matCellDef="let row">
    <button mat-raised-button color="warn" (click)="delete(row.pozoId)"focusable="false" >
      <mat-icon>delete</mat-icon> Borrar
        </button>
  </mat-cell>

</ng-container>


<ng-container matColumnDef="Ver Construcción">
  <mat-header-cell *matHeaderCellDef mat-sort-header>
    Ver Construcción</mat-header-cell
  >
  <mat-cell *matCellDef="let row">
    <button  *ngIf="row.construccion && !isLoading" mat-raised-button color="warn" (click)="VerConst(row.construccion, row)"focusable="false" >
      <mat-icon>visibility</mat-icon> Ver Construcción
        </button>
      
     
        <button  *ngIf="!(row.construccion) && !isLoading" mat-raised-button color="warn" (click)="AdicionarConst(row.pozoId)"focusable="false" >
          <mat-icon>add</mat-icon>Adicionar Construcción
            </button>
  </mat-cell>

</ng-container>
      <button mat-raised-button color="warn">Warn</button>
  
  
  
      <mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="encabezado"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-card *ngIf="isLoading" 
    style="display: flex; justify-content: center; align-items: center">
   <mat-progress-spinner 
     color="primary" 
     mode="indeterminate">
   </mat-progress-spinner>
  </mat-card>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="10" [showFirstLastButtons]></mat-paginator>

  </div>
  
 
  <div>
    <button  [routerLink]="['/pozos/form']"  mat-raised-button color="accent"><mat-icon>library_add</mat-icon> Adicionar Pozo</button>
    </div>
