<form  #necesidadForm="ngForm">
    <div class="form-group">
      <label for="pozo">Pozo</label>
      <input type="text" [(ngModel)]="necesidad.pozo" name="pozo"  class="form-control" placeholder="Entre el pozo" required minlength="4" #pozo="ngModel">
    <div class="alert alert-danger" *ngIf="pozo.invalid && (pozo.dirty || pozo.touched)">
<div *ngIf="pozo.errors.required">
  Nombre es requerido
</div>
<div *ngIf="pozo.errors.minlength">
Nombre debe tener al menos 4 caracteres
</div>
    </div>
    </div>
    <div class="form-group">
      <label for="articulo">Articulo</label>
      <select  class="form-control" [(ngModel)]="necesidad.articulo" name="articulo"   style="width:500px;">
        <option [ngValue]="undefined">--- selecionar un articulo ---</option>
        <option *ngFor="let articulo of listaArticulos"  [ngValue]="articulo">{{articulo.nombre}}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="fecha">Fecha</label>
        <input type="date" [(ngModel)]="necesidad.fecha" name="fecha" class="form-control" id="exampleInputDate" placeholder="Entre la fecha" >
      </div>
      <div class="form-group">
        <label for="cantidad">Cantidad</label>
        <input type="number" value="{{necesidad.cantidad}}"  [(ngModel)]="necesidad.cantidad"   name="cantidad" class="form-control" id="exampleInputNumber" placeholder="Entre la cantidad" required #cantidad="ngModel">
      </div>
      <div class="alert alert-danger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
          <div *ngIf="cantidad.errors.required">
              Cantidad es requerido
          </div>
   
    </div>
    <button role="button" class="btn btn-default" (click)='create()' [disabled]="!necesidadForm.form.valid" *ngIf="!necesidad.id else elseBlock">Crear</button>
  </form>
  

  <ng-template #elseBlock>
      <button role="button" class="btn btn-default" (click)='update()' [disabled]="!necesidadForm.form.valid">Editar</button>

  </ng-template>