<form [formGroup]="formGroup" #ngForm="ngForm" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Servicio Information <span *ngIf="ngForm.submitted && !formGroup.valid" class="small-font "
          [ngClass]="{'invalid': ngForm.submitted }" style="color: red;">* required</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <!-- <mat-form-field   [style.width.px]=400 class="example-full-width">
            <input type="text" placeholder="Escribe el nombre del servicio"  matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
            <mat-autocomplete   #auto="matAutocomplete" [displayWith]="mostrarNombre">
              <mat-option *ngFor="let servicio of serviciosfiltrados | async" [value]="servicio">
                {{servicio.costdesc}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field> -->
          
          
          
          <div class="col-md-6">
            <mat-form-field [style.width.px]=600>
              <mat-select placeholder="Descripcion"   [(value)]="seleccionado"  name="servicios"   (selectionChange)="myChange($event.value)">
                <mat-option *ngFor="let serv of Servicios" [value]="serv">
                  {{serv.costdesc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
 
       
          <div class="col-md-6">
            <mat-form-field>
              <mat-select placeholder="Empresa" formControlName="Empresa">
                <mat-option *ngFor="let emp of Empresas" [value]="emp">
                  {{emp}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- <div class="col-md-6">
            <mat-form-field class="full-width">
              <input formControlName="Ubicacion" matInput="" placeholder="Ubicacion">
            </mat-form-field>
          </div> -->
        </div>


          <div class="col-md-6 top-padding">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>FechaInicio</mat-label>
                    <input formControlName="FechaInicio" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

                   <div class="col-md-6 top-padding">
                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>FechaFin</mat-label>
                    <input formControlName="FechaFin" matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="full-width">
                <input type="number" formControlName="CostoCUP" matInput="" placeholder="CostoCUP">
              </mat-form-field>
            </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="save()"color="primary">Save</button>

        <button mat-raised-button (click)="goBack()">Cancelar</button>


      </mat-card-actions>
    </mat-card>
  </form>
