<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SISTIA</a>
    </div>


    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">

        <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Opciones <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="nav-item" ><a class="nav-link" routerLink="/articulos">Articulos en Almacen</a></li>
            <li class="nav-item" ><a class="nav-link" routerLink="/necesidades">Necesidades en los Pozos</a></li>
            <li class="nav-item" ><a class="nav-link" routerLink="/pozos">Pozos</a></li>

            <li class="nav-item" ><a class="nav-link" routerLink="/Satisfechas">Necesidades Satisfechas</a></li>
            <li class="nav-item" ><a class="nav-link" routerLink="/NoSatisfechas">Necesidades No Satisfechas</a></li>

          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

    </div>
  </nav> -->


  <mat-toolbar color="primary">
    <mat-toolbar-row>

        <i >SISTIA</i>
        <button mat-button  routerLink="/winatm"><mat-icon>local_shipping</mat-icon>  Articulos en el almacen</button>
        <button mat-button  routerLink="/pozos"> <mat-icon >gavel</mat-icon> Pozos</button>
        <button mat-button  routerLink="/necesidades"><mat-icon > directions_boat</mat-icon>  Necesidades</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>  Más Operaciones    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/camisa">
   <span mat-button  > Adicionar camisa</span>
      </button>
      <button mat-menu-item disabled>
        <span>Check voicemail</span>
      </button>
      <button mat-menu-item>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
     </mat-toolbar-row>
