@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

html
{
position: relative;
height:845px;
background-image: url(../src/assets/images/logotipo.jpg);
background-repeat: repeat;
background-size: 10rem;
}
body{
margin-bottom: 60px;


}

.wrap{
  padding-bottom: 60px;
  /* background-color: white;
  border-radius: 50px; */
}
samp{

  font-size: 200%;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
  text-shadow: black 6px 6px 8px;
  text-transform: uppercase;

}
