/* .mat-card-image{
    width: calc(20% + 10px)!important;
} */

.example-card{
     width: calc(40% + 10px)!important;
     position: relative;
}

mat-expansion-panel{
    width: 98% !important;
    
}


    
    .texto-encima{
        position: absolute;
        top: 10px;
        left: 10px;
    }
  
    .primario{
        position: absolute;
        top: 10%;
        left: 120%;
        transform: translate(-50%, -50%);
    }  

    .segundado{
        position: absolute;
        top: 30%;
        left: 120%;
        transform: translate(-50%, -50%);
    }
    .centrado{
        position: absolute;
        top: 50%;
        left: 120%;
        transform: translate(-50%, -50%);
    }
    .cuarto{
        position: absolute;
        top: 70%;
        left: 120%;
        transform: translate(-50%, -50%);
    }
    .quinto{
        position: absolute;
        top: 90%;
        left: 120%;
        transform: translate(-50%, -50%);
    }
    
    .example-fill-remaining-space {
        /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
        flex: 1 1 auto;
      }

      .example-card-image{
        width: calc(5% + 10px)!important;
        position: relative;
   }

   .splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 1;
    margin-top: 20px;
}
.splitscreen .right {
    flex: 1;
    margin-top: 20px;

}
   