<form [formGroup]="formGroup" #ngForm="ngForm" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Información de la Sección <span *ngIf="ngForm.submitted && !formGroup.valid" class="small-font "
          [ngClass]="{'invalid': ngForm.submitted }" style="color: red;">* required</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">

          <div class="col-md-6">

            <mat-form-field   [style.width.px]=800 class="example-full-width">
              <input type="text" placeholder="Escribe el nombre de la barrena"  matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
              <mat-autocomplete   #auto="matAutocomplete" [displayWith]="mostrarNombre">
                <mat-option *ngFor="let recurso of recursosfiltrados | async" [value]="recurso">
                  {{recurso.mProducto_Descrip}}
                </mat-option>
                <mat-option *ngIf="autocompleteControl.value!=null"style="color: red;" routerLink="/barrena" >
                  --------------AÑADIR NUEVA BARRENA-------------
                </mat-option>
              </mat-autocomplete>

            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input type="number" formControlName="Longitud" matInput="" placeholder="longitud en metros">
          </mat-form-field>
        </div>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button   (click)="save()"color="primary">Save</button>

        <button mat-raised-button (click)="goBack()">Cancelar</button>
        <!-- <button  [routerLink]="['/camisa']"  mat-raised-button color="warn"><mat-icon>library_add</mat-icon>Añadir nueva camisa</button>
        <button  [routerLink]="['/barrena']"  mat-raised-button color="warn"><mat-icon>library_add</mat-icon>Añadir nueva barrena</button> -->

      </mat-card-actions>
    </mat-card>
  </form>
