<h2 style="display: flex; justify-content: center; align-items: center">{{ title + this.pozoService.pozo.nombrePozo }}</h2>

<div

  class="example-container mat-elevation-z8"
>
  <mat-table #table [dataSource]="dataSource" matSort>




    <!--  Columna nombreIntervalo-->
    <ng-container matColumnDef="nombreIntervalo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Seccion</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.nombreIntervalo }} </mat-cell>
      <mat-footer-cell *matFooterCellDef> </mat-footer-cell>

    </ng-container>


    <!--  Columna longitud-->
    <ng-container matColumnDef="longitud">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Longitud</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.longitud }} </mat-cell>
      <mat-footer-cell *matFooterCellDef> </mat-footer-cell>

    </ng-container>

    <!--  Columna longitud-->
    <ng-container matColumnDef="PrecioTotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        PrecioTotal</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        {{ calcularMonto(row) | currency }}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef> </mat-footer-cell>

    </ng-container>

    <!--  Columna Editar-->

    <ng-container matColumnDef="Editar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
     Editar</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/intervalos/form', row.intervaloId]"
          focusable="false"
        >
        <mat-icon>edit</mat-icon>   Editar
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef> </mat-footer-cell>

    </ng-container>

    <!--  Columna Editar-->

    <ng-container matColumnDef="Borrar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
       Borrar</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          color="warn"
          (click)="delete(row.intervaloId)"
          focusable="false"
        >
        <mat-icon>delete</mat-icon> Borrar
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef><h3>Gran Total:</h3> </mat-footer-cell>

    </ng-container>

    <ng-container matColumnDef="Recursos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Recursos</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <button
          mat-raised-button
          color="accent"
          (click)="VerRec(row)"
          focusable="false"
        >
        <mat-icon> directions_subway</mat-icon>  Recursos
        </button>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef><h3>{{sum|currency}}</h3> </mat-footer-cell>

    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="encabezado"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>

  </mat-table>

  <mat-card
  *ngIf="isLoading"
  style="display: flex; justify-content: center; align-items: center"
>
  <mat-progress-spinner color="primary" mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="15" [showFirstLastButtons]></mat-paginator>


</div>



<div>
  <button mat-raised-button (click)="goBack()"><mat-icon>keyboard_return</mat-icon>Volver</button>
  <button [routerLink]="['/intervalos/form']" mat-raised-button color="accent">
    <mat-icon>library_add</mat-icon> Adicionar Sección
  </button>
  <button [routerLink]="['/servicios']" mat-raised-button color="primary">
    <mat-icon> departure_board</mat-icon>Servicios
  </button>

</div>


<span></span>
<div class="splitscreen">
  <div class="left">

    <mat-expansion-panel *ngIf="dataSource?.data.length>0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Esquema de Perforación
        </mat-panel-title>
        <mat-panel-description>
         <i> Presione para ver más detalles</i>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- *ngIf="dataSource?.data.length===3" -->


        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <!-- <mat-card-title>Shiba Inu</mat-card-title> -->
          </mat-card-header>
          <img
            mat-card-image
            src="../../assets/images/{{ cont }}.png"
            alt="Photo of a Shiba Inu"
          />
          <div class="texto-encima"></div>

          <div *ngIf="cont == 1">
            <div class="primario"><mat-icon>filter_1</mat-icon><i>{{ dataSource.data[0].barrena }}</i></div>
          </div>

          <div *ngIf="cont == 2">
            <div class="primario"><mat-icon>filter_1</mat-icon><i>{{ dataSource.data[0].barrena }}</i></div>

            <div class="segundado"><mat-icon>filter_2</mat-icon><i>{{ dataSource.data[1].barrena }}</i></div>
          </div>
          <div *ngIf="cont == 3">
            <div class="primario"><mat-icon>filter_1</mat-icon><i>{{ dataSource.data[0].barrena }}</i></div>

            <div class="segundado"><mat-icon>filter_2</mat-icon><i>{{ dataSource.data[1].barrena }}</i></div>

            <div class="centrado"><mat-icon>filter_3</mat-icon><i>{{ dataSource.data[2].barrena }}</i></div>
          </div>
          <div *ngIf="cont == 4">

            <div class="primario"><mat-icon>filter_1</mat-icon><i>{{ dataSource.data[0].barrena }}</i></div>

            <div class="segundado"><mat-icon>filter_2</mat-icon><i>{{ dataSource.data[1].barrena }}</i></div>

            <div class="centrado"><mat-icon>filter_3</mat-icon><i>{{ dataSource.data[2].barrena }}</i></div>

            <div class="cuarto"><mat-icon>filter_4</mat-icon><i>{{ dataSource.data[3].barrena }}</i></div>
          </div>

          <div *ngIf="cont == 5">
            <div class="primario"><mat-icon>filter_1</mat-icon><i>{{ dataSource.data[0].barrena }}</i></div>

            <div class="segundado"><mat-icon>filter_2</mat-icon><i>{{ dataSource.data[1].barrena }}</i></div>

            <div class="centrado"><mat-icon>filter_3</mat-icon><i>{{ dataSource.data[2].barrena }}</i></div>

            <div class="cuarto"><mat-icon>filter_4</mat-icon><i>{{ dataSource.data[3].barrena }}</i></div>

            <div class="quinto"><mat-icon>filter_5</mat-icon><i>{{ dataSource.data[4].barrena }}</i></div>
          </div>
          <div *ngIf="cont == 6">
            <div class="primario"><mat-icon>filter_1</mat-icon><i>{{ dataSource.data[0].barrena }}</i></div>

            <div class="segundado"><mat-icon>filter_2</mat-icon><i>{{ dataSource.data[1].barrena }}</i></div>

            <div class="centrado"><mat-icon>filter_3</mat-icon><i>{{ dataSource.data[2].barrena }}</i></div>

            <div class="cuarto"><mat-icon>filter_4</mat-icon><i>{{ dataSource.data[3].barrena }}</i></div>

            <div class="quinto"><mat-icon>filter_5</mat-icon><i>{{ dataSource.data[4].barrena }}</i></div>
            <div class="quinto"><mat-icon>filter_6</mat-icon><i>{{ dataSource.data[5].barrena }}</i></div>

          </div>
        </mat-card>



    <!-- <h3>Gran Total:{{ sum | currency }}</h3> -->

    </mat-expansion-panel >  </div>

  <div class="right">

<mat-expansion-panel  *ngIf="dataSource?.data.length>0">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Estimado de gastos del Pozo
    </mat-panel-title>
    <mat-panel-description>
     <i> Presione para ver más detalles</i>
    </mat-panel-description>

  </mat-expansion-panel-header>

<h3> Total Barrenas:{{ sumBarrenas | currency }}</h3>

<h3> Total Casing y Accesorios:{{ sumCasingYacces | currency }}</h3>
  <!-- *ngIf="dataSource?.data.length===3" -->


<!-- <h3>Gran Total:{{ sum | currency }}</h3> -->


</mat-expansion-panel>


  </div>
</div>








