<form [formGroup]="formGroup" #ngForm="ngForm" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Intervalo Information <span *ngIf="ngForm.submitted && !formGroup.valid" class="small-font "
          [ngClass]="{'invalid': ngForm.submitted }" style="color: red;">* required</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field [style.width.px]=400 >
              <mat-select placeholder="Seleccione una nueva Camisa"  [(value)]="Cseleccionado"  name="barrenas"   (selectionChange)="myChange2($event.value)">
                <mat-option *ngFor="let camisa of camisas" [value]="camisa">
                  {{camisa.mProducto_Descrip}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field [style.width.px]=400>
              <mat-select placeholder="Seleccione una nueva Barrena"  [(value)]="Bseleccionado"  name="barrenas"  (selectionChange)="myChange($event.value)">
                <mat-option *ngFor="let barrena of barrenas" [value]="barrena">
                  {{barrena.mProducto_Descrip}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <mat-form-field class="full-width">
            <input formControlName="Longitud" matInput="" placeholder="longitud en metros">
          </mat-form-field>
        </div>


      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button   (click)="save()"color="primary">Save</button>

        <button mat-raised-button (click)="goBack()">Cancelar</button>

      </mat-card-actions>
    </mat-card>
  </form>
