<form [formGroup]="formGroup" #ngForm="ngForm" class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Articulo Information <span *ngIf="ngForm.submitted && !formGroup.valid" class="small-font "
          [ngClass]="{'invalid': ngForm.submitted }" style="color: red;">* required</span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="row">
            <div class="col-md-6 ">
              <mat-form-field   [style.width.px]=800  class="example-full-width">
                <input  type="text" placeholder="Escribe el nombre del recurso"  matInput [formControl]="autocompleteControl" [matAutocomplete]="auto">
                <mat-autocomplete   #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let recurso of filteredOptions | async" [value]="recurso">
                    {{recurso.mProducto_Descrip}}
                  </mat-option>
                  <mat-option *ngIf="autocompleteControl.value!=null"style="color: red;" routerLink="/articuloPropio/form" >
                    --------------AÑADIR NUEVO RECURSO-------------
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <!-- <mat-form-field>
                <mat-select placeholder="Nombre"  name="nombre" (selectionChange)="myChange($event.value) ">
                  <mat-option *ngFor="let art of articulos"   [value]="art">
                    {{art.mProducto_Descrip}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
            </div>


            <div class="col-md-6">
              <mat-form-field class="full-width">
                <input type="number" formControlName="cantidad" matInput="" placeholder="cantidad">
              </mat-form-field>
            </div>


          </div>

      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="save()"color="primary">Save</button>

        <button mat-raised-button (click)="goBack()">Cancelar</button>

      </mat-card-actions>
    </mat-card>
  </form>
