<h2>{{title  + this.pozoService.pozo.nombrePozo}}</h2>

<div  class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>


    <!--  Columna IntervaloId-->
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        codigo</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.codigo }} </mat-cell>
      <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>

    </ng-container>

       <!--  Columna IntervaloId-->
       <ng-container matColumnDef="UM">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          UM</mat-header-cell
        >
        <mat-cell *matCellDef="let row"> {{ row.um }} </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>

      </ng-container>







    <!--  Columna IntervaloId-->
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        nombre</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.nombre }} </mat-cell>
      <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>

    </ng-container>


  <!--  Columna IntervaloId-->
  <ng-container matColumnDef="cantidad">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      cantidad solicitada</mat-header-cell
    >
    <mat-cell *matCellDef="let row"> {{ row.cantidad }} </mat-cell>
    <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>

  </ng-container>


  <!--  Columna IntervaloId-->
  <ng-container matColumnDef="existencia">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      Existen en el almacen</mat-header-cell
    >
    <mat-cell *matCellDef="let row"> {{ row.existencia }} </mat-cell>
    <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>

  </ng-container>

    <!--  Columna IntervaloId-->
    <ng-container matColumnDef="cantReal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        cantReal</mat-header-cell
      >

      <mat-cell   *matCellDef="let row"><p *ngIf="row.existencia!==null"> {{ row.existencia-cantPedidos }}</p> </mat-cell>
      <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>

    </ng-container>


  <!--  Columna IntervaloId-->
  <ng-container matColumnDef="precioCup">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      precioCup</mat-header-cell
    >
    <mat-cell *matCellDef="let row"> {{ row.precioCUP|currency }} </mat-cell>
    <mat-footer-cell *matFooterCellDef> </mat-footer-cell>

  </ng-container>

    <!--  Columna IntervaloId-->
    <ng-container matColumnDef="utm_mov">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        utm_mov</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.utm_mov |date}} </mat-cell>
      <mat-footer-cell *matFooterCellDef> <h3>Gran Total:</h3> </mat-footer-cell>

    </ng-container>

    <!--  Columna IntervaloId-->
    <ng-container matColumnDef="precioTotal">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        precioTotal</mat-header-cell
      >
      <mat-cell *matCellDef="let row"> {{ row.precioCUP*row.cantidad |currency}} </mat-cell>
      <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>

    </ng-container>

          <!--  Columna Editar-->

          <!-- <ng-container matColumnDef="Editar">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
                Editar</mat-header-cell
            >
            <mat-cell *matCellDef="let row">
              <button mat-raised-button color="primary" [routerLink]="['/articulos/form',row.id]" focusable="false" >
                Editar
              </button>
            </mat-cell>


          </ng-container> -->

    <ng-container  matColumnDef="Borrar">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Retirar recurso
        </mat-header-cell
      >
      <mat-cell  *matCellDef="let row">

        <button mat-raised-button  color="warn" (click)="delete(row.id)"focusable="false" >
          <mat-icon>delete_sweep</mat-icon> Retirar
            </button>
      </mat-cell>
        <mat-footer-cell *matFooterCellDef> <h3>{{sum|currency}}</h3> </mat-footer-cell>

    </ng-container>

    <button mat-raised-button color="warn">Warn</button>

    <mat-header-row
      *matHeaderRowDef="displayedColumns"
      class="encabezado"
    ></mat-header-row>
     <mat-row [ngClass]="{ 'marked': (row.existencia-cantPedidos) <0 && row.existencia}" *matRowDef="let row; columns: displayedColumns"></mat-row>
    <!-- <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row> -->
    <mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" [pageSize]="15" [showFirstLastButtons]></mat-paginator>



</div>
<mat-card *ngIf="isLoading"
style="display: flex; justify-content: center; align-items: center">
<mat-progress-spinner
 color="primary"
 mode="indeterminate">
</mat-progress-spinner>
</mat-card>

<div>
  <button mat-raised-button (click)="goBack()"> <mat-icon>keyboard_return</mat-icon>Volver</button>

  <button  [routerLink]="['/articulos/form']"  mat-raised-button color="accent"><mat-icon>add_circle_outline</mat-icon>Asignar Recurso del Almacen</button>

  <button  [routerLink]="['/articuloPropio/form']"  mat-raised-button color="warn"><mat-icon>library_add</mat-icon>Adicionar nuevo Recurso</button>

</div>

<!-- <h3 >Gran Total:{{sum|currency}}</h3> -->



<!-- <h2 >Necesidades</h2>
<app-necesidad></app-necesidad> -->
